* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: black;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

#map {
    width: 725px;
    height: 750px;
    display: flex;
    flex-wrap: wrap;
}

.blank,
.walls,
.si,
.three,
.four,
.five,
.six,
.jail,
.food,
.food2,
.power-pellet,
.pacman,
.pacman-up,
.pacman-right,
.pacman-down,
.pacman-left,
.ghost1,
.ghost2,
.ghost3,
.ghost4,
.ghost5{
    width: 25px;
    height: 25px;
}

.blank {
    background-color: black;
}

.walls {
    background-color: rgb(146, 6, 48);
}

.si {
    background-color: #4194e8;
}

.three {
    background-image: -webkit-linear-gradient(45deg, #4194e8 50%, black 50%);
}

.four {
    background-image: -webkit-linear-gradient(135deg, #4194e8 50%, black 50%);
}

.five {
    background-image: -webkit-linear-gradient(45deg, rgb(146, 6, 48) 50%, #4194e8 50%);
}

.six {
    background-image: -webkit-linear-gradient(135deg, rgb(146, 6, 48) 50%, #4194e8 50%);
}

.jail {
    border-top: 2px rgb(255, 255, 255) solid;
    border-bottom: 0px;
}

.food {
    background-color: rgb(153, 135, 55);
    border: 6px solid black;
    border-radius: 50%;
    opacity: 0.8;
}

.food2 {
    background-color: rgb(153, 135, 55);
    border: 5.5px solid black;
    border-radius: 50%;
    opacity: 1;
}

.power-pellet {
    background-color: rgb(153, 135, 55);
    border-radius: 50%;
}

.pacman {
    background-color: white;
    border-radius: 50%;
}

.ghost1,
.ghost2,
.ghost3,
.ghost4,
.ghost5 {
    background-repeat: no-repeat;
    background-size: contain;
}

.ghost1 {
    background-image: url(images/ghost1.png);
}
.ghost2 {
    background-image: url(images/ghost2.png);
}
.ghost3 {
    background-image: url(images/ghost3.png);
}
.ghost4 {
    background-image: url(images/ghost4.png);
}
.ghost5 {
    background-image: url(images/ghost5.png);
}

.pacman,
.pacman-down,
.pacman-left,
.pacman-right,
.pacman-up {
    background-color: black;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 50%;
}

.pacman,
.pacman-down,
.pacman-left,
.pacman-right,
.pacman-up {
    background-color: black;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 50%;
}

.pacman {
    background-image: url(images/base.png);
}

.pacman-up {
    background-image: url(images/up.png);
}

.pacman-right {
    background-image: url(images/right.png);
}

.pacman-down {
    background-image: url(images/down.png);
}

.pacman-left {
    background-image: url(images/left.png);
}

#stats {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 200px;
    border: 2px white solid;
    color: white;
    font-size: 30px;
    margin: 30px;
}

