* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: black;
}

#map{
    margin: auto;
    width: 725px;
    height: 750px;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}

.blank,
.walls,
.si,
.three,
.four,
.five,
.six,
.jail,
.food,
.food2,
.power-pellet,
.pacman,
.pacman-up,
.pacman-right,
.pacman-down,
.pacman-left,
.ghost1{
    width: 25px;
    height: 25px;
}

.blank {
    background-color: black;
}

.walls {
    background-color: rgb(146, 6, 48);
}

.si {
    background-color: #4194e8;
}

.three {
    background-image: -webkit-linear-gradient(45deg, #4194e8 50%, black 50%);
}

.four {
    background-image: -webkit-linear-gradient(135deg, #4194e8 50%, black 50%);
}

.five {
    background-image: -webkit-linear-gradient(45deg, rgb(146, 6, 48) 50%, #4194e8 50%);
}

.six {
    background-image: -webkit-linear-gradient(135deg, rgb(146, 6, 48) 50%, #4194e8 50%);
}

.jail {
    border-top: 2px rgb(255, 255, 255) solid;
    border-bottom: 0px;
}

.food {
    background-color: rgb(153, 135, 55);
    border: 6px solid black;
    border-radius: 50%;
    opacity: 0.8;
}

.food2 {
    background-color: rgb(153, 135, 55);
    border: 5.5px solid black;
    border-radius: 50%;
    opacity: 1;
}

.power-pellet {
    background-color: rgb(153, 135, 55);
    border-radius: 50%;
}

.pacman{
    background-color: white;
    border-radius: 50%;
}

.ghost1{
    background-color: rgb(60, 186, 32);
    border-radius: 50%;
}
    
.pacman,
.pacman-down,
.pacman-left,
.pacman-right,
.pacman-up {
    background-color: black;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 50%;
}
    
.pacman,
.pacman-down,
.pacman-left,
.pacman-right,
.pacman-up {
    background-color: black;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 50%;
}

.pacman {
    background-image: url(images/base.png);
}

.pacman-up {
    background-image: url(images/up.png);
}

.pacman-right {
    background-image: url(images/right.png);
}

.pacman-down {
    background-image: url(images/down.png);
}

.pacman-left {
    background-image: url(images/left.png);
}
